@{
    ViewBag.Title = "Sobre mim";
}
<h2>@ViewBag.Title.</h2>
<h3>Um .dev em formação!</h3>

<ul class="nav nav-tabs" style="max-block-size:400px;">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Quem sou eu?</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home" style="max-block-size: 300px ">
        <p>
            Olá, meu nome é Rodrigo Arthur, e sou designer, programador, ex instrutor de design, e um entusiasta do home office! Curso Análise de Sistemas, na Universidade de Marília,
            mas também estudo por conta própria, sempre estou em busca de evoluir, atráves de cursos online principalmente, sou bilíngue, e tenho o inglês como lingua secundária,
            já possuo experiências profissionais na carreia, mas todas na área do design, e hoje me encontro migrando de área, a programação se tornou algo prazeroso de estudar, assim que conheci.
            E com isso busco minha primeira oportunidade, totalmente aberto a estudar qualquer tema dentro do ramo de tecnologia, e com uma vontade imensa de contribuir, e crescer junto com colegas de trabalho e com a empresa.
        <p>Email principal: rodrigo.contatolive@gmail.com <br /> Telefone/Whatsapp: (21)979350911 </p>
    </div>
</div>
